name: Qatar Award Check

on:
  schedule:
    # Range 1: 2:00 PM to 3:30 PM PST (22:00 to 23:30 UTC)
    - cron: '*/3 22-23 * * *'
    
    # Range 2: 4:00 PM to 8:00 PM PST (00:00 to 04:00 UTC)
    - cron: '*/3 0-4 * * *'
  workflow_dispatch:      # Allows you to run it manually via a button

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run search script
        env:
          SEATS_API_KEY: ${{ secrets.SEATS_API_KEY }}
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python main.py
